<div class="item">
    <a href="{{item.url}}" class="item-inner">
        <div class="html-embed w-embed w-iframe">
            <div class="vimeo-item" style="padding-top: 56.25%;position:relative;" id="{{item.bg_video}}">
                <iframe src="https://player.vimeo.com/video/{{item.bg_video}}?controls=0&muted=true&loop=true" width="640" height="360"
                    frameborder="0" allow="autoplay; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
        <h1 class="item-title">{{item.title}}</h1>
    </a>
    <div class="item-color" style="background-color: {{item.color}};"></div>
</div>