{% assign numberofprojects = section.media_gallery|size %}
{% assign sectionTitle = section.section_title|slugify %}
<div class="post-content-inner grid{% if numberofprojects > 1 %}{% if section.col_count == 2 %} two-column{% elsif section.col_count == 3 %} three-column{% endif %}{% endif %}{% if sectionTitle == 'social-grid' %} social-grid{% endif %}">
    {% for media in section.media_gallery %}
    {% if media.type == 'image' %}
        <img src="{{media.img}}" loading="lazy" alt="" data-aos="fade">
    {% elsif media.type == 'video' %}
        <div class="vimeo-item{% if media.background != true %} no-autoplay{% endif %}" style="padding-top: 56.25%;position:relative;" data-aos="fade">
            <iframe src="https://player.vimeo.com/video/{{media.vid}}{% if media.background == true %}?background=true{% endif %}" width="640" height="360" frameborder="0" allow="autoplay"></iframe>
        </div>
    {% elsif media.type == 'text' %}
        <div class="content-text" data-aos="fade">
            <div class="w-richtext">{{media.txt|markdownify }}</div>
        </div>
    {% endif %}
    {% endfor %}
</div>