---
layout: default
---
<div class="h-project-content">
    <div class="columns-3 w-row">
        <div class="column-5 w-col w-col-6 w-col-small-small-stack"><img src="/img/uploads/T18A9911.png" width="1000"
                alt="" class="imageabout"></div>
        <div class="column-6 w-col w-col-6 w-col-small-small-stack">
            <div class="div-block-17">
                <div class="h-text-project color-header small smaller"><span class="text-span">/he-on-ah/
                        🔉<br>‍<br></span>Full time cat mom extraordinaire and occasional art director. Currently based
                    in Brooklyn. <br><br>Feel free to drop in a line at hi@hyeonakim.com for any opportunities! ㋡
                    *･❋ﾟ✧<br></div>
                <a data-hover-text="résumé 🔥" href="/documents/hyeona_resume_2020.pdf" target="_blank"
                    class="h-text h-link sub">résumé</a>
            </div>
        </div>
    </div>
</div>