---
layout: default
---
<div class="h-project-content">
    <div class="columns-3 w-row">
        <div class="column-5 w-col w-col-6 w-col-small-small-stack"><img src="{{page.img}}" width="1000"
                alt="" class="imageabout"></div>
        <div class="column-6 w-col w-col-6 w-col-small-small-stack">
            <div class="div-block-17">
                <div class="h-text-project color-header small smaller"><span class="text-span">{{page.info|markdownify}}</div>
                <a data-hover-text="résumé 🔥" href="{{page.resume}}" target="_blank"
                    class="h-text h-link sub">résumé</a>
                    <div>
                        {% for link in page.links %}
                        <a target="_blank" href="{{link.link_url}}">{{link.link_title}}</a>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>